main {
    margin-top: 30px;
}

.container {
    display: grid;
    margin: auto;
    grid-template-columns: 0.8fr 1fr;
    width: fit-content;
    min-height: 80vh;
}

.container .contact {
    width: 250px;
    border-radius: 50px;
    margin: auto;
    
}

.container .details p {
    font-size: 2rem;
	font-weight: bold;
	color: rgb(223, 170, 24);
    padding-bottom: 20px;
}

footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.footcontainer .footer-nav li {
	display: inline-flex;
	padding: 15px 30px;
	font-size: 1.2rem;
	font-weight: bold;
}

.footer-nav li a {
	text-decoration: none;
	color: white;
}

.footer-nav li a:hover {
	color: orange;
	border-radius: 20px;
	transition: all 0s;
}

@media (max-width: 850px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .container .contact {
        margin: 0 0 60px 0;
    }
}

@media (max-width: 677px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 60vh;
    }
}