.container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	min-height: 50vh;
}

.transparentskills {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 20px 20px 80px rgba(240, 164, 33, 0.2);
    width: 800px;
    height: fit-content;
    border-radius: 25px;
    margin: 40px 0;
}

.transparentskills h1 {
    color: red;
    width: fit-content;
    padding: 20px;
    margin: auto;
}

.container .transparentskills p {
    font-size: 1.5rem;
    padding-bottom: 20px;
    max-width: 80%;
    margin: auto;
}

footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
    align-items: center;
	margin-bottom: 20px;
}

.footcontainer .footer-nav li {
	display: inline-flex;
	padding: 15px 30px;
	font-size: 1.2rem;
	font-weight: bold;
}

.footer-nav li a {
	text-decoration: none;
	color: white;
}

.footer-nav li a:hover {
	color: orange;
	border-radius: 20px;
	transition: all 0s;
}

@media (max-width: 850px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 80px 0;
    }

    .transparentskills {
        max-width: 80%;
        height: fit-content;
        margin: auto;
    }
}

@media (max-width: 677px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .container .transparentskills p {
        margin: 0 60px;
    }

    .container h1 {
        margin-top: 20px;
    }

    .footcontainer .footer-nav li {
        padding: 15px;
    }

    .transparentskills {
        max-width: 80%;
        height: fit-content;
    }
}
